# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# If your Unity project is inside a folder called cooked/
cooked/[Ll]ibrary/
cooked/[Tt]emp/
cooked/[Oo]bj/
cooked/[Bb]uild/
cooked/[Bb]uilds/
cooked/[Ll]ogs/
cooked/[Uu]ser[Ss]ettings/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj

# Unity crash/debug
sysinfo.txt
*.stackdump
